<!DOCTYPE html>
<html ng-app='boxApp'>
	<head>
		<title>ANGULAR TTT</title>
		

		<script src="js/firebase.js"></script>
        <script src="js/angularfire.js"></script>

		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/BoxController.js"></script>

		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="BoxController as boxCtrl" >
		<!-- {{2+2}} test -->
			<header>
				<div class="titleDisplay" ng-click="boxCtrl.appearGame()">
					<span id="tic">{{"Tic"}}</span>
					<span id="tac">{{"Tac"}}</span>
					<span id="toe">{{"Toe"}}</span>
				</div>
				<div id="blueSmallDotLeft"></div>
				<div id="redSmallDotLeft"></div>
				<div id="blueSmallDotRight"></div>
				<div id="redSmallDotRight"></div>
			</header>
			<hr>
			<h2><p ng-show="boxCtrl.appear">{{"Let's Play!"}}
				</p></h2>
			<!-- 	<h4><p ng-show="boxCtrl.appear">{{"
			Please Add Your Names "}}
				</p></h4> -->
				<div id="playerOneName" ng-repeat="person1 in boxCtrl.names">
       Welcome {{ person1 }}
      	</div>
   		<div id="playerTwoName" ng-repeat="person2 in boxCtrl.names2">
       & {{ person2 }}
      	</div>
				</h2>
				<div id="playerPick">
					<h3>
						<span class="pickBlue">Player One is Blue</span> | 
					<span class="pickRed">Player Two is Red</span>
					</h3>
				</div>

					<h4><p ng-show="boxCtrl.appear">{{"
			Please Add Your Names "}}
				</p></h4>
				
				<div class="grid">
					<div class="box" 
						ng-repeat="b in boxCtrl.buttons"
						ng-class="{blueDot: b.display == 'X', redDot: b.display == '0'}"
						ng-click="boxCtrl.clickBox($index)">
					</div>
						
				</div>
				<div id="score">
					<h2>
						<div id="displayResult"> {{ boxCtrl.message }} 
						</div>
					</h2>
		<!-- use ng hide and ng show -->
	 			<div class="reset">
					<h2>{{"Reset"}}
					<br>
						<button class="reset" ng-click="boxCtrl.clearGrid($index)"

						>
						</button>
					</h2>
				</div>
				<!-- <form class="add-name" ng-submit="boxCtrl.addTodo()"> -->
					<input class="text-box" type="text" placeholder="Enter Name player 1" ng-model="boxCtrl.newName">
					<!-- <input type="submit" class="btn btn-add" value="+"> -->
					<button class="boxName" ng-click="boxCtrl.addNames()">Add Name Player One</button>

					<input class="text-box" type="text" placeholder="Enter Name player 2" ng-model="boxCtrl.newName2">
					<!-- <input type="submit" class="btn btn-add" value="+"> -->
					<button class="boxName" ng-click="boxCtrl.addNames2()">Add Name Player Two</button>

				<!-- 	<br>
					<input class="text-box" type="text" placeholder="Name player 2" ng-model="boxCtrl.newName2">
					<button class="boxName" ng-click="boxCtrl.addName2()">Add Name Player 2</button> -->
			<!-- 	</form> -->
				<!-- <p>{{ boxCtrl.addName }} </p> -->
	</body>
</html>