<!DOCTYPE html>
<html ng-app='boxApp'>
	<head>
		<title>ANGULAR TTT</title>
		

		<script src="js/firebase.js"></script>
        <script src="js/angularfire.js"></script>

		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/BoxController.js"></script>

		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="BoxController as boxCtrl" >
		{{2+2}} test

		
			<header>
				<div id="titleDisplay">
					<span id="tic">{{"Tic"}}</span>
					<span id="tac">{{"Tac"}}</span>
					<span id="toe">{{"Toe"}}</span>
				</div>
				<div id="blueSmallDotLeft"></div>
				<div id="redSmallDotLeft"></div>
				<div id="blueSmallDotRight"></div>
				<div id="redSmallDotRight"></div>
			</header>
			<hr>
				<div id="playerPick">
					<h3>
						<span id="pickBlue">Player One</span> | 
						<span id="pickRed">Player Two</span>
					</h3>
				</div>
				<h2>{{"Let's Play"}}</h2>
				<div class="grid">
					<div class="box" 
						ng-repeat="b in boxCtrl.buttons"
						ng-class="{blueDot: b.display == 'X', redDot: b.display == '0'}"
						ng-click="boxCtrl.clickBox($index)">
					</div>
						
				</div>
				<div id="score">
					<h2>
						<div id="displayResult"> {{ boxCtrl.message }} 
						</div>
					</h2>
		<!-- use ng hide and ng show -->
	 			<div class="reset">
					<h2>{{"Reset"}}
					<br>
						<button class="reset" ng-click="boxCtrl.clearGrid($index)"

						>
						</button>
					</h2>
				</div>
	</body>
</html>